
body {
    width: 100%;
    margin: auto;
}

.header {
    background-color: rgb(102, 235, 146);
    height: auto;
}

.header h1 a {
    text-decoration: none;
}

.logo {
    font-size: 50px;
}

.header_list li {
    display: inline;
}


.main {
    background-color: whitesmoke;
    text-indent: 50px;
}

.main h2 {
    font-size: 40px;
}

.main ul {
    list-style: none;
}

.list_a {
    list-style: none;
    padding-left: 0px;
}

.resister_button {
    height: 50px;
    border: 0;
    margin: 10px;
    margin-left: 60px;
}

.talkimage {
    width: 35%;
    height: 35%;
    margin: 10px;

}

.Footer {
    background-color: rgb(102, 235, 146);
    height: 500 px;
}

.Footer h1 {
    font-size: 20px;
}

.Footer ul{
    list-style-type: none;
}

textarea {
    resize: none;
    width: 600px;
    height: 100px;
}

.talkimages {
    display: flex;
    overflow-x: scroll;
}
