</html><!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">>
    <title>HamaPfyトップページ</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <!-- Header-->>
    <section class="header">
        <header>
            <span> </span>
            <h1 class="logo"><a href="#">HamaPfy</a></h1>
        </header>
        <nav id="nav">
            <ul class="header_list">
                <li><a href="#one" class="active">HamaPfyって？</a></li>
                <li><a href="#two">みんなが選ぶおすすめの曲</a></li>
                <li><a href="#three">アカウント</a></li>
            </ul>
        </nav>
    </section>

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- main -->
        <div class="main">

            <!-- One -->
            <section id="one">
                <div class="container">
                    <header class="major">
                        <h2>HamaPfyって？</h2>
                    </header>
                    <p>友達同士で好きな音楽を共有し合うためのサービスです。</p>
                    <ul class="list_a">
                        <li>好きな音楽を他の人にも聴いてもらいたい！</li>
                        <li>あの人は普段どんな曲を聴いているのだろう？</li>
                        <li>最近ビビッとくる音楽がないな</li>
                    </ul>
                    <p>そんな時に使えるサービスです！</p>
                </div>
            </section>

            <!-- Two -->
            <section id="two">
                <div class="container">
                    <h2>みんなが選ぶおすすめの曲</h2>
                    <!-- ここにデータベースを挿入したい!! -->
                    <p># データベースを反映する</p>
                </div>
            </section>

            <!-- Three -->
            <section id="three">
                <div class="container">
                    <h2>アカウント</h2>
                    <!-- ここにアカウントURLや紹介画像を挿入したい -->
                    <h3>登録</h3>
                    <p>以下のボタンをクリック</p>
                    <a href="https://lin.ee/qvTQic8"><img src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png"
                            alt="友だち追加" class="resister_button"></a>
                    <h3>使い方</h3>
                    <ul class="list_a">
                        <li>①自分の好きな音楽を共有する！</li>
                        <li>　1.メニュー左のボタンを押して「Share songs with others!」と送信</li>
                        <li>　2.「Please input YouTube linkon the keyboard!!」と出るのでYouTubeリンクを送信</li>
                        <li>　3.共有完了！</li>
                        <li>　</li>
                        <li>②他の人のおすすめの音楽が知りたい！</li>
                        <li>　1.メニュー中央のボタンを押して「What are other people's favorite songs?」と送信</li>
                        <li>　2.他の人がおすすめした音楽が表示される！</li>

                    </ul>
                    <h3>トーク画面見本</h3>
                    <div class="talkimages">
                        <img src="../static/images/talkimage1.jpg" class="talkimage">
                        <img src="../static/images/talkimage2.jpg" class="talkimage">
                        <img src="../static/images/talkimage3.jpg" class="talkimage">
                    </div>
                    
                    <h3>実際に使ってみる！</h3>
                    <a href="https://lin.ee/qvTQic8"><img src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png"
                            alt="友だち追加" class="resister_button"></a>




                </div>
            </section>

        </div>
    
    <!-- Footer -->
    <section class="Footer">
        <footer>
            <h1>お問い合わせ</h1>
            <form  method="post">
                <ul>
                    <li>
                        <label for="rendou">お名前: </label>
                        <input id="rendou" type="text" name="yourname" placeholder="例) 濱　俊也">
                    </li>
                    <li>
                        <label for="rendou">LINE名: </label>
                        <input id="rendou" type="text" name="LINEname" placeholder="例) Toshiya Hama">
                    </li>
                    <li>
                        <label for="mail">メールアドレス: </label>
                        <input id="mail" type="email" name="mail" placeholder="例) abcdefg@abcd.com">
                    </li>
                    <li>
                        <label for="comment">お問い合わせ内容:</label>
                        <li>
                        <select name="お問い合わせ内容" id="お問い合わせ内容">
                            <option value="db1">自分が登録した音楽について</option>
                            <option value="db2">他人が登録した音楽について</option>
                            <option value="db_del">音楽を削除してほしい</option>
                            <option value="claim">機能について(改善・要望)</option>
                            <option value="else">その他</option>
                        </select>
                        </li>
                        <li>
                            <textarea name="comment" id="comment" placeholder="ここにお問い合わせ内容を記述してください"></textarea>   
                        </li>
                        <li>
                            <input type="submit" value="送信">
                        </li>
                    </li>
                </ul>    
            </form>
        </footer>
    </section>
    </div>
</body>

</html>